.app-footer {
    background: #F25955;
    padding: .5rem 2rem;
    text-align: center;
}

.app-footer__news {
    background: #343A41;
    padding: .5rem 2rem;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.app-footer__message {
    color: #FFFF;
    font-family: sans-serif;
    margin-bottom: 0px;
}
.app-footer__message2 {
    color: #FFFF;
    font-family: sans-serif;
    margin-bottom: 0px;
    font-size: 14px;
}

.app-footer__text {
    margin: 0px;
}

.app-footer__hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

.app-footer__conteudo {
    color: #6C7485;
    font-family: sans-serif;
}

.app-footer__conteudoSub {
    color: #F25955;
    font-family: sans-serif;
}

.app-background {
    background: #f5f5f5;
    padding-top: 50px;
    padding-bottom: 90px;
}

.app-button{
    background: #F25955;
    border-color: #F25955;
}