.app-footer {
    background: #F25955;
    padding: .5rem 2rem;
    text-align: center;
}
.app-footer__news  {
    background: #343A41;
    padding: .5rem 2rem;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.app-footer__message {
    color: #FFFF;
    font-family: sans-serif;
}

.app-footer__text {
    margin: 0px;
}
